<section>
    <div class="container">
        <div class="row">
        <div class="col-12 flex flex-column align-items-center justify-content-center">
            <h1 class="flex gap-2 text-3xl m-0"><span class="font-primary font-normal">Search</span> <span class="font-secondary font-normal">d_evs</span></h1>
            <h1 class="mb-0">404</h1>
            <h2 class="my-0">Page not found</h2>
            <p>Sorry, but the page you are looking for is not found. Please, make sure you have typed the current URL.</p>
            <button type="button" label="Back to home" pButton class="button-secondary" (click)="goToHome()"></button>
        </div>
        </div>
    </div>
</section>