<section class="grid">
        <div class="col-12 lg:col-3 flex justify-content-center">
                <a (click)="goToHome()" class="cursor-pointer">
                        <h1 class="flex gap-2 text-3xl m-0"><span class="font-primary font-normal">Search</span> <span class="font-secondary font-normal">d_evs</span></h1>
                </a>
        </div>
        <div class="col-12 lg:col-9 flex justify-content-center lg:justify-content-start">
                <app-search-bar></app-search-bar>
        </div>
</section>