<div class="mt-5 lg:mt-7 mx-5 font-normal">
    <div class="flex align-items-center gap-2">
        <p-avatar 
            [image]="userData?.info?.avatar_url" 
            size="xlarge" 
            shape="circle" 
        />
        <div class="flex flex-column justify-content-center gap-2">
            <p class="font-bold text-xl m-0">{{userData?.info?.name}}</p>
            <p class="text-sm text-400 m-0">{{'@' + userData?.info?.login}}</p>
        </div>
    </div>
    <p class="text-color-secondary mt-1">{{userData?.info?.bio}}</p>
    
    <div class="my-5 text-color-secondary">
        <p class="flex align-items-center gap-2"><i class="pi pi-users"></i>{{userData?.info?.followers}} Followers</p>
        <p class="flex align-items-center gap-2"><i class="pi pi-heart"></i>{{userData?.info?.following}} Following</p>
    </div>

    <div class="text-color-secondary">
        @if(userData?.info?.company){
        <p class="flex align-items-center gap-2"><i class="pi pi-building"></i>{{userData?.info?.company}}</p>
        }
        @if(userData?.info?.location){
        <p class="flex align-items-center gap-2"><i class="pi pi-map-marker"></i>{{userData?.info?.location}}</p>
        }
        @if(userData?.info?.email){
        <p class="flex align-items-center gap-2"><i class="pi pi-envelope"></i>{{userData?.info?.email}}</p>
        }
        @if(userData?.info?.blog){
            <a class="cursor-pointer" style="text-decoration: none!important;" href="{{userData?.info?.blog}}" target="_blank">
                <p class="flex align-items-center gap-2 text-color-secondary"><i class="pi pi-link"></i>{{userData?.info?.blog | truncate: 30}}</p>
            </a>
        }
        @if(userData?.info?.twitter_username){
            <a class="cursor-pointer" style="text-decoration: none!important;" href="https://twitter.com/{{userData?.info?.twitter_username}}" target="_blank">
                <p class="flex align-items-center gap-2 text-color-secondary"><i class="pi pi-twitter"></i>{{'@' + userData?.info?.twitter_username}}</p>
            </a>
        }
    </div>
    <div class="mt-5">
        <button type="button" label="Contact" pButton class="button-secondary w-full" (click)="contactUser(userData?.info?.html_url)"></button>
    </div>
</div> 