<div class="mx-5 lg:mt-7 lg:mx-0">
    <div class="flex align-items-center justify-content-between">
        <p-button icon="pi pi-sort-alt" (click)="reorderRepos()"/>
        <p-paginator 
            (onPageChange)="onPageChange($event)" 
            [first]="first"
            [rows]="rows" 
            [totalRecords]="userData?.repositories?.length" 
        ></p-paginator>
    </div>
    <div class="reposBody">
    @for(repository of paginatedRepositories(); track repository){
        <a [href]="repository.html_url" style="text-decoration: none!important;" target="_blank">
            <div>
                <h2 style="color: #000;">{{repository.name}}</h2>
                <p class="text-color-secondary">{{repository.description}}</p>
                <div class="flex align-items-center gap-2 text-color-secondary">
                    <p class="flex align-items-center gap-2"><i class="pi pi-star"></i>{{repository.stargazers_count}}</p>
                    <p>•</p>
                    <p-tag [value]="repository.language ?? 'Not found'" />
                    <p>•</p>
                    <p>Last update: {{formatDistanceToNow(repository.updated_at)}}</p>
                </div>
            </div>
        </a>
    }
    </div>
</div>